body {
  background-color: #000000;
  margin: 2em;
  font-family: Arial;
  color: #000000;
}
h1 {
  color: grey;
  font-family: 'Verdana';
  font-size: 30px;
  letter-spacing: -1;
  margin-top: 10px;
}
.maindiv {
  background-color: #ffffff;
  color: #000000;
  width: 440px;
  border-radius: 25px;
  padding: 20px;
  margin: 0 auto;
}

table {
  margin: 0 0 0 65px;
  width: auto;
  font-size: 14px;
}

td.col1 {
  width: 7em;
}
input {
  margin-bottom: 5px;
}

input.principal {
  width: 10.5em;
}

input.rate {
  width: 8em;
}

button {
  font-size: 11px;
  padding: 1px 4px;
  margin: 5px 0 5px 0;
}

.hilite {
  background-color: #ffff00;
}
footer {
  font-size: 14px;
  margin: 10px 0 0;
}
